<phpunit
  colors="true"
  verbose="true"
  bootstrap="tests/bootstrap.php">
  <testsuites>
    <testsuite name="PHP Like Jquery">
        <directory>tests</directory>
    </testsuite>
  </testsuites>

  <filter>
    <whitelist>
      <directory>src/PHPLikeJquery</directory>
    </whitelist>
  </filter>

</phpunit>